
.card-post {

  .card-content {

    min-height : 165px;


    .title > a {
      color : grey;
      font-weight : bold;
      font-size : 15px;
      text-decoration : none;
    }

    .source > a {
      font-size : 13px;
      color : @hn-orange
    }

    .post-date > p {
      font-size: 12px;
    }
  }

  .card-action {

    border-top : 1px solid @hn-orange;

    a {
      color : @hn-orange;
      cursor : hand;
    }

    .disabled {
      cursor : default;
      color : grey;
    }
    
   
  }
  

}

