
/*posts*/
#postlist p {
    margin-bottom : 3px;
}

#post > p {
    margin-top : 0;
    margin-bottom : 0;
}

#post > .post-line {
    padding-top : 20px;
    margin-bottom : 0;
    font-size: 14px;
}

.post-line a {
    text-decoration: none;
    color : #000;
}

.post-line .post-index {
    color: gray;
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}

.post-line > .post-source {
    color: gray;
    font-size: 12px;
    text-decoration: none;
}

.post-line > span {
    display : inherit;
}

.sub-line {
    margin-top : 0;
    margin-bottom : 0;
    font-size: 11px;
    color : gray;
}

/*input*/
#commentInput {
    margin-bottom : 0;
}

#commentInput > textarea {
    padding-top : 10px;
    background-color : white;
}

#addCommentBtn {
    background-color : rgb( 255, 102, 0 );
}

/*comments*/
#commentList {
    margin-top : 50px;
    border : none;
}

.comment-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.reply-link {
    color : gray;
    text-decoration : underline;
    font-size : 13px;
}

.subcomment {
    margin-left : 50px;
}

.reply-comment {
    margin-top : 0;
    padding-top : 20px;
}

