
.inherit-height {
    height : inherit;
}

/* navbar */
#navBar {
    margin-top : 15px;
    margin-bottom : 15px;
    background-color : rgb( 255, 102, 0 );
}

#rightNav li {
    padding : 0 10px 0 10px;
}