
@import "navbar.less";
@import "posts.less";

@hn-orange: rgb( 255, 102, 0 );

.inherit-height {
  height : inherit;
}

.title  {
  color : black;
  font-weight : bold;
  font-size : 16px;
  text-decoration : none;
}